/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif;
*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111;
    color: #DDD;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

a {
    text-decoration: none;
    color: #DDD;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

/* Navbar Section */
#navbar {
    background-color: #000;
    position: fixed;
    width: 100%;
}

#navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar header {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.8em;
    margin: .3em 0 .4em;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
}

#navbar ul li {
    list-style: none;
    margin-left: 3em;
}

#navbar ul li a {
    padding: .8em 0;
}

#navbar ul li a:hover {
    text-decoration: line-through;
    color: #fff;
}

/* Welcome Section */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: left;
}

#welcome-section h1 {
    font-size: 3.6em;
    margin: .8em 0 .5em;
}

#welcome-section h2 {
    font-size: 1.8em;
    margin: 0 0 .8em;
    color: #888;
}

#welcome-section p {
    font-size: 1.3em;
    color: #888;
}

#welcome-section ul {
    list-style: none;
    display: flex;
    margin-top: 1.8em;
}

#welcome-section ul li a {
    font-size: 3em;
    padding-right: 1em;
    color: #888;
}

#welcome-section ul li a:hover {
    color: #DDD;
}

#welcome-section #scroll {
    font-size: 2em;
    color: #333;
    position: absolute;
    right: calc(20% / 2);
    bottom: 5px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 1.2em 0;
    background-color: #000;
    color: #888;
}

@media screen and (max-width: 420px) {

    .container {
        width: 90%;
    }

    /* Navbar Section */
    #navbar div {
        justify-content: space-around;
    }

    #navbar header {
        font-size: 2em;
    }

    #navbar ul li {
        margin-left: 1.8em;
    }

    /* Welcome Section */
    #welcome-section h1 {
        font-size: 2.4em;
    }

    #welcome-section h2 {
        font-size: 1.6em;
    }

    #welcome-section p {
        font-size: 1.2em;
    }

    #welcome-section ul li a {
        font-size: 2em;
    }

    /* Footer Section */
    footer {
        padding: 1em 0;
        font-size: .8em;
    }
}